<div class="google-bg">
</div>
<div class="container authform auth-form">
  <div id="login-form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h6>Sign up</h6>
      <fieldset>
        <form action="javascript:void(0);" method="get">
          <%= f.text_field :name, :autofocus => true, :placeholder => 'Name' %>
          <%= f.email_field :email, :placeholder => 'Email' %>
          <%= f.password_field :password, :placeholder => 'Password' %>
          <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %>
          <%= f.submit 'Sign up'%>
        </form>
      </fieldset>
    <% end %>
  </div>
</div>
