<div class="welcome-side-bar">
	<div class="filler-medium"></div>
	<center>
  		<img class="welcome-logo" src="<%= asset_path('logo.png') %>">
  	</center>
	<h3>Hi <%= current_user.name %>!</h3>
	<ul class="welcome-nav-links">
		<li><%= link_to 'All Boards', welcome_path, :method=>'get', class: 'welcome-sidebar-link' %></li>
		<li><%= link_to 'New Board', new_board_path, :method=>'get', class: 'welcome-sidebar-link' %></li>
		<li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete', class: 'welcome-sidebar-link' %></li>
	</ul>

</div>

<div class="welcome-content-container">

<div class="welcome-message">
<h4><%= current_user.name %>'s Boards</h4>

<% if @user.boards.count == 0 %>
	No boards :(
<% else %>
	<% @user.boards.each do |b| %>
		<div class="grid">
			<figure class="effect">
				<img class="grid-img" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= b.latitude %>,<%= b.longitude %>&zoom=12&size=350x350"/>
				<figcaption>
					<%= link_to b.title, board_path(:id => b.id) %>
					<p class="icon-links">
						<a href="#"><i class="fa fa-heart"></i> &nbsp; &nbsp;</a>
						<a href="#"><i class="fa fa-edit"></i> &nbsp; </a>
						<a href="#"><i class="fa fa-location-arrow"></i> &nbsp; </a>
					</p>
				</figcaption>			
			</figure>
		</div>
	<% end %>
<% end %>

</div>

</div>
